---
title: 記事一覧
layout: layout.njk
---
{# 指定した tag が付いた記事の一覧 (11ty では、tag で分類される) #}

{# posts タグの一覧 #}
<h2>投稿一覧</h2>
<ul>
  {% for post in collections.posts | reverse %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a>&nbsp;{{ post.date | mydate }}</li>
  {% endfor %}
</ul>

{# events タグの一覧 #}
<h2>イベント一覧</h2>
<ul>
  {% for post in collections.events | reverse %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a>&nbsp;{{ post.date | mydate }}</li>
  {% endfor %}
</ul>
