{#
   11ty の「レイアウト」
   nunjucks というテンプレート言語を使用
   https://mozilla.github.io/nunjucks/   
   Python の Jinja テンプレートと同様

   11ty では、HTML、Markdown など、コンテンツを記述したファイルを「テンプレート」と呼んでいます。
   一般的には、このファイルのようなものをテンプレートと呼ぶため、用語が非常に混乱していると感じます。
 #}
<!DOCTYPE html>
<html lang="ja">
    <head>
	<meta charset="UTF-8">
        {# レイアウトを参照するテンプレートの Front Matter 部の title 値を埋め込みます。 #}
	<title>{{ title }}</title>
    </head>
    <body>
        {# レイアウトを参照するテンプレートの Front Matter 部の title 値を埋め込みます。 #}
	<h1>{{ title }}</h1>

        {#
           レイアウトを参照するテンプレートの本文を埋め込みます。
           safe フィルタが付いているので、エスケープされずにそのまま出力されます。
           このフィルタは、JavaScript で自作することも可能です。(.eleventy.js に記述)
         #}
	{{ content | safe }}
    </body>
</html>
